OPENAI_API_KEY =NLWniFufuwnszyrlytm4r4NeTE8SW4q-ZSKhGIWWvu7dpzi1L07NCTgRxcdun7HoeYieSyeQdpT3BlbkFJe_QPLxMV_FXBJPhTxxD__ZgzA_cOhRR_naNihG4nt8DVBmISQ3ASD7V7lQT6OedvA88AGFOqUA
FIRECRAWL_API_KEY =
HUGGING_FACE_API =

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
